body {
  box-sizing: border-box;
  font-family: 'Josefin Sans', sans-serif;
  margin: 0;
  padding: 0;
}

// Main page
.container {
     background-image: none;
     background-position: center;
     background-size: cover;
     background-color: #ffe6b9;
     width: 100vw;
     display: flex;
     justify-content: flex-end;
     align-items: center;
}

.margin-nav {
  margin: 0;
}

.introduction {
  background-color: rgba(255,255,255,0.6);
  padding: 10px;
  border-radius: 5px;
}

.flex-grow {
  display: flex;
  flex-grow: 1;
}

.center-item {
  display: flex;
  justify-content: center;
}

//Products
.mini-photo {
  width: 120px;
  height: 120px;
  display: flex;
}

// .mini-photo-container {
//   align-items: center;
// }

.product-summary {
  margin: 20px 0px;
  min-width: 80vw;
}

.fog {
  background-color: rgba(255,255,255,0.6);
}

.price {
  color: gray;
}

.product-summary, .product-list {
  display: flex;
  flex-direction: column;
}

.available {
  color: green;
  font-weight: bold;
}

.unavailable {
  color: red;
  font-weight: 600;
}

.orders-buttons {
  display: flex;
  justify-content: space-between;
}

textarea {
  resize: none;
}

.pad-bottom {
  padding-bottom: 200px;
}

@media(min-width: 320px) {
  .show-product-button {
    display: flex;
    align-self: center;
  }
  // .adjust-margin {
  //   margin-top: 150px;
  // }
}

@media(min-width: 961px) {
  .name {
    font-size: 24px;
  }
  .product-list {
    flex-direction: row;
  }
  .show-product-button {
    align-self: flex-end;
  }
  .container {
       background-image: url('https://cdn.pixabay.com/photo/2014/05/22/21/47/honey-dipper-351485_960_720.jpg');
       height: 90vh;
  }
}

@media(min-width: 1025px) {
  .product-list {
    flex-direction: row;
  }
  .adjust-margin {
    margin-top: 0;
  }
}

.productSum {
  font-size: 18px;
  text-decoration: underline;
  display: flex;
  justify-content: flex-end;
}

.total {
  display: flex;
  justify-content: flex-end;
  font-size: 20px;
}
